$color-orange: #ff8427;
$color-orange2: #f46a24;
$color-dark: #4e565d;
$color-white: #fff;
$dark-blue: #161b3c;
$bold: 600;
$semi-bold: 500;
$regular: 400;
$light: 300;
$primary-font: 'Poppins';
$secondary-font: 'Oswald';